<%= form_for(@experiment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :experiment_at %><br>
    <%= f.datetime_select :experiment_at %>
  </div>
  <div class="field">
    <%= f.label :ruby_type %><br>
    <%= f.text_field :ruby_type %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
 </div>
 <%= f.file_field :dstat_data %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
