<p id="notice" class="alert alert-success"><%= notice %></p>

<h1>Memory Usage:</h1>
<%= line_chart @graph_data, min: 950, max: 8000 %>

<h1>Total CPU:</h1>
<%= line_chart @total_cpu_graph, min: 0, max: 800 %>

<p>
  <strong>Experiment at:</strong>
  <%= @experiment.experiment_at %>
</p>

<p>
  <strong>Ruby type:</strong>
  <%= @experiment.ruby_type %>
</p>

<p>
  <strong>Note:</strong>
  <%= @experiment.note %>
</p>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
